{
  "extends": "eslint:recommended",
  "globals": {
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "curly": "error",
    "quotes": [ "error", "single" ]
  }
}